<div class="grid">
	<article class="grid__item one-third">
		<a href="#" class="widget-bar__tile">
			<h2 class="rough">
				<span>All night exercise</span>
			</h2>
			<h3 class="rough">
				<span>Nu midnatsåbent i alle centre</span>
			</h3>
		</a>
	</article>
	<article class="grid__item one-third">
		<a href="#" class="widget-bar__tile">
			<h2 class="rough">
				<span>Freeweight or nothing!</span>
			</h2>
			<h3 class="rough">
				<span>Always Fit råder over det nyeste</span>
			</h3>
		</a>
	</article>
	<article class="grid__item one-third">
		<p>Tilmeld dig nyhedsbrevet fra<br/> Always Fit</p>
		<form>
			<label for="name">Navn:</label>
			<input type="text" id="name" />

			<label for="email">Email:</label>
			<input type="email" id="email" />

			<button>Afsend</button> <!--ng-click="submit()"-->
		</form>
	</article>
</div>