<div class="grid">
	<article class="grid__item one-third">
		<a href="#" class="widget-bar__tile" style="background-image: url('/assets/img2.jpg');">
			<h2 class="rough">
				<span>All night exercise</span>
			</h2>
			<h3 class="rough">
				<span>Nu midnatsåbent i alle centre</span>
			</h3>
		</a>
	</article>
	<article class="grid__item one-third">
		<a href="#" class="widget-bar__tile" style="background-image: url('/assets/img3.jpg');">
			<h2 class="rough">
				<span>Freeweight or nothing!</span>
			</h2>
			<h3 class="rough">
				<span>Always Fit råder over det nyeste</span>
			</h3>
		</a> 
	</article>
	<article class="grid__item one-third relative">
		<p>Tilmeld dig nyhedsbrevet fra<br/> Always Fit</p>
		<div id="messages" class="widget-bar__message" ng-show="message">
			<p>{{ message }}</p>
		</div>
		<form ng-submit="onSubmit()">
			<label for="name">Navn:</label>
			<input type="text" id="name" class="form-control" name="name" ng-model="formData.name">

			<label for="email">Email:</label>
			<input type="text" id="email" class="form-control" name="email" ng-model="formData.email">

			<button>Afsend</button>
		</form>
	</article>
</div> 