a {
    text-decoration: none;
    color: $color--primary;
    font-weight: bold;
    @include transition(all 300ms ease);
    &:hover {
	   	color: darken($color--primary, 10%);
	   	@include transition(all 300ms ease);
    }
}