<section class="textpage">
	<div class="grid">
		<div class="grid__item three-tenths sidebar">
			<h2 class="button">
				Holdtræning
			</h2>
			<ul>
				<li>Holdskema</li>
				<li>Holdbeskrivelse</li>
				<li>Video</li>
				<li>Artikler</li>
				<li>Udstyr</li>
			</ul>
			<div class="widget--image">
				<a href="#">
					<img src="/assets/img6.jpg" alt="Zumba">
					<div class="content">
						<span>Spar 179 ,-</span><br />
						<span>Først</span><br />
						<span>Måned</span><br />
						<span>Gratis</span>
					</div>
				</a>
			</div>
		</div>
		<div class="grid__item seven-tenths">
			<h4>Holdtræning og -beskrivelser hos Always Fit</h4>

			<p>I Always Fit tilbyder vi dig flere hold end i noget andet fitness center. Det kan lade sig gøre fordi vi både har live holdtræning, hvor du bliver undervist af en instruktør og holdtræning baseret på træningsvideoer, der er noget helt nyt og unikt. Du kan med andre ord altid træne på et hold i Always Fit ñ uanset tidspunktet på dagen. </p>

			<p>Videoerne er udviklet af førende danske træningseksperter og live-holdene er primært Zumba, som på verdensplan er den absolut mest populære træningsform lige nu.</p> 

			<p>Alle vores cykelhold er baseret på træningsvideoer. Videobaserede træningstimer er gratis at deltage på. På de holdtræningstimer, hvor der er en instruktør er der en særskilt betaling på 9 kr. Betaling sker via dit kort ved indgangen til salen. Der skal ikke bookes plads på holdene - fremmøde sker efter først-til-mølle princippet.</p>

			<h3>Book dig på et hold herunder</h3>
			<p>Tilmeld dig hold herunder ved at benytte og udfylde formulare. Husk at opgive dit medlemsnumer ved udfyldelsen</p>
			<form class="form--team-booking">
				<label for="name">Navn:</label>
				<input type="text" id="name">

				<label for="phone">Telefon:</label>
				<input type="tel" id="phone">

				<label for="number">Medlemsnummer:</label>
				<input type="number" id="number">

				<label for="team-list">Vælg hold:</label>
				<div class="select">
					<select name="team-list" id="team-list">
						<option>Cykling 1</option>
						<option>Cykling 2</option>
						<option>BodyCombat</option>
						<option>BodyPump</option>
						<option>Bodytoning plus</option>
						<option>Cross Training</option>
						<option>Fitnessboxing</option>
						<option>Flad mave, stærk ryg</option>
						<option>HulaHoop Fitness</option>
						<option>Mave-baller-lår</option>
						<option>Zumba Fitness 1</option>
						<option>Zumba Fitness 2</option>
						<option>Fitness Yoga</option>
						<option>Fitness Dance</option>
						<option>High Workout</option>
						<option>Kick & Circuit</option>
						<option>Pulsen Op</option>
						<option>Udstrækning</option>
					</select>
					<span></span>
				</div>
				<button>Tilmeld</button>
			</form>
		</div>
	</div>
</section>