main {	
	color: #4c4c4c;
	background: white;
	position: relative;
	opacity: 1;
	
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    //@include transform(translate3d(0, 0, 0)); 
	@include transition(all 300ms ease);

	&.ng-enter, 
	&.ng-leave {
		left: -100%;
		position: relative;
		@include transition(all 800ms ease);
	}

	&.ng-enter {
	}
	&.ng-enter-active {
		left: 0;
	}

	&.ng-leave {
	} 

	&.ng-leave-active {
		left: 100%;
	}
}